header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
  .header-container {
    margin: 0 15px;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1240px;
      padding: 0 5px;
      margin: 0 auto;
      position: sticky;
      border-bottom: 0.1rem solid white;
      .nav-list {
        li {
          display: inline-block;
          .nav-links {
            display: block;
            text-decoration: none;
            color: white;
            padding: 40px 15px;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 15px;
            transition: padding 0.3s;
            &:hover {
              color: #4976b2 !important;
              transition: 0.3s;
            }
          }
        }
      }
      .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toggle {
          width: 60px;
          color: black;
          font-size: 30px;
          font-weight: 200;
          padding: 15px 5px;
          display: none;
        }
        img {
          width: 70px;
          float: left;
          margin-left: 15px;
          padding-right: 15px;
        }
        .logoLink {
          color: white;
          text-decoration: none;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
