@media screen and (max-width: 1173px) {
  body {
    section {
      .section-one {
        background-image: url("../assets/section-one/section-one-small.jpg");
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    header {
      background: white;
      box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
      .header-container {
        .nav.responsive {
          padding: 0;
          height: auto;
          display: block;
          .nav-list.responsive {
            padding-top: 66px;
            display: block;
          }
        }
        .nav {
          padding: 0;
          height: 66px;
          display: block;
          .nav-list {
            li {
              display: block;
              .nav-links {
                padding: 20px 5px;
                color: black;
              }
            }
          }
          .logo {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .toggle {
              display: block;
            }
            img {
              padding: 5px;
              width: 60px;
              margin: 0;
            }
            .logoLink {
              font-size: 15px;
              color: black;
            }
          }
        }
      }
    }
    section {
      .section-one {
        background-image: url("../assets/section-one/section-one-mobile.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .section-one-content {
          position: absolute;
          top: 20vh;
          left: 0;
          right: 0;
          h1 {
            font-size: 35px;
            word-wrap: break-word;
          }
          h3 {
            font-size: 18px;
          }
        }
      }
    }
    section {
      .section-two {
        .section-two-content {
          height: 250px;
          h1 {
            font-size: 35px;
          }
          h3 {
            font-size: 20px;
          }
        }
        .section-two-container {
          height: 420px;
          .card {
            width: 250px;
            height: 350px;
            .card-content {
              h1 {
                font-size: 55px;
              }
              h3 {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    section {
      .section-three {
        height: 200vh;
        .section-three-sticky {
          height: 100vh;
          .section-three-content {
            h1 {
              font-size: 80px;
            }
            h3 {
              display: none;
            }
            h4 {
              display: block;
            }
          }
        }
      }
    }

    section {
      .section-four {
        height: auto;
        .table-container {
          height: auto;
          padding: 20px 15px 0 15px;
          .table {
            width: 100%;
            table {
              th,
              td {
                padding: 10px;
                font-size: 15px;
              }
            }
          }
          .table-img {
            width: 100%;
            height: 100vw;
          }
        }
      }
    }

    section {
      .section-five {
        padding: 0;
        .section-five-content {
          h1 {
            font-size: 35px;
          }
          h3 {
            font-size: 20px;
          }
        }
      }
    }

    section {
      .section-footer {
        .section-footer-container {
          margin: 40px 0;
          .sides {
            display: block;
            text-align: center;
            .right {
              padding-top: 10px;
            }
          }
          .line {
            margin: 20px 0;
          }
          .social {
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
