.section-one {
  width: 100% !important;
  height: 95vh;
  background-image: url("../assets/section-one/section-one-large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .section-one-content {
    position: absolute;
    top: 25vh;
    left: 8vw;
    h1 {
      color: white;
      font-size: 50px;
      font-weight: 200;
      padding: 0 10px;
    }
    h3 {
      color: white;
      font-size: 20px;
      font-weight: 200;
      padding: 0 10px;
    }
  }
}

.section-two {
  height: auto;
  position: relative;
  .section-two-content {
    padding: 0 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    h1 {
      font-size: 50px;
      font-weight: 200;
      color: black;
    }
    h3 {
      font-size: 20px;
      font-weight: 200;
      color: black;
      padding: 5px 0;
    }
  }
  .section-two-container {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
    .card {
      display: flex;
      justify-content: start;
      align-items: flex-end;
      width: 280px;
      height: 400px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      margin: 10px 15px;
      flex: 0 0 auto;
      &:hover {
        background-size: 160%;
        transition: background-size 0.2s ease-in;
      }
      .card-content {
        padding: 15px;
        width: 100%;
        h1 {
          color: white;
          font-size: 70px;
          font-weight: 200;
        }
        h3 {
          color: white;
          font-size: 20px;
          font-weight: 300;
          padding: 10px 0;
        }
      }
    }
    .card-one {
      background-image: url("../assets/section-two/card1-small.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      transition: background-size 0.2s ease-in;
    }
    .card-two {
      background-image: url("../assets/section-two/card2-small.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      transition: background-size 0.2s ease-in;
    }
    .card-three {
      background-image: url("../assets/section-two/card3-small.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      transition: background-size 0.2s ease-in;
    }
    .card-four {
      background-image: url("../assets/section-two/card4-small.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      transition: background-size 0.2s ease-in;
    }
  }
}

section {
  .section-three {
    height: 200vh;
    .section-three-sticky {
      height: 100vh;
      background-image: url("../assets/section-three/section-three-large.jpg");
      background-position: center;
      background-size: cover;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .section-three-content {
        h1 {
          color: white;
          font-size: 150px;
          font-weight: 200;
          padding-bottom: 50px;
        }
        h3 {
          color: white;
          font-size: 20px;
          font-weight: 300;
          line-height: 3.5vh;
          padding: 0 100px;
        }
        h4 {
          color: white;
          font-size: 18px;
          font-weight: 300;
          line-height: 25px;
          padding: 0 40px;
          display: none;
        }
      }
    }
  }
}

section {
  .section-four {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .table-container {
      width: 1240px;
      min-height: 90vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 40px 20px 20px 20px;
      .table {
        width: 50%;
        height: auto;
        table {
          border-collapse: collapse;
          width: 100%;
          th,
          td {
            padding: 20px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
          td:nth-child(2) {
            width: 30%;
            text-align: right;
          }
        }
      }
      .table-img {
        width: 50%;
        background-image: url("../assets/section-four/section-four.jpg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

section {
  .section-five {
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px 0;
    .section-five-content {
      padding: 0 15px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      h1 {
        font-size: 50px;
        font-weight: 200;
        color: black;
      }
      h3 {
        font-size: 20px;
        font-weight: 200;
        color: black;
        padding: 5px 0;
      }
    }
    .section-five-images {
      max-width: 1240px;
      margin: 0 auto;
      padding: 10px 15px;
      column-count: 2;
      column-gap: 4px;
      img {
        width: 100%;
      }
    }
  }
}

section {
  .section-footer {
    max-width: 1240px;
    height: 50vh;
    min-height: 400px;
    position: relative;
    .section-footer-container {
      padding: 0 15px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .sides {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .side h1 {
          display: block;
          padding: 5px 0 10px 0;
          color: black;
          text-decoration: none;
          font-weight: 400;
          font-size: 20px;
        }
        .side a {
          display: block;
          padding: 5px 0;
          color: rgb(129, 129, 129);
          text-decoration: none;
          font-weight: 300;
          font-size: 15px;
          &:hover {
            color: black;
          }
        }
      }
      .line {
        width: 100%;
        height: 1px;
        background: grey;
        margin: 50px 0;
      }
      .social {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        i {
          color: rgb(129, 129, 129);
          font-size: 30px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            color: black;
            transition: 0.8s;
          }
        }
      }
    }
  }
}
